#crowdsale-details {
  .card-footer {
    .social-links {
      i {
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }
  #crowdsale-qrcode {
    img {
      width: 100%;
    }
  }
}
