---
layout: default
title: Fork Token Sale | GastroAdvisor PRE ICO | Invest on FriendsFingers
description: GastroAdvisor is building the first global recommendation platform for restaurants and dining venues based on blockchain Ethereum. GastroAdvisor connects restaurants and customers through FORK token, rewarding users for their contributions and creating a reliable platform for informations and reviews of restaurants around the world.
social_image: /img/icos/gastroadvisor/gastroadvisor-cover.png
permalink: ico/fork-pre-ico
---

<section>
    <div class="container">
        {% include crowdsale-details.html %}
    </div>
    <div class="container">
        {% include commons/disqus.html %}
    </div>
</section>
