---
layout: default
title: Shaka (HAK) | The Token for a new way crowdfunding
description: Shaka (HAK) is an ERC20 Token based on Ethereum issued by FriendsFingers and that will give holders rights to be active part of the platform like in a Decentralized Autonomous Organization (DAO).
social_image: img/brand-resources/shaka_cover_square.png
permalink: shaka
---

<script>
    fbq('track', 'ViewContent', {
        content_ids: 'shaka',
    });
</script>

<section class="about bg-tertiary text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 mx-auto text-center">
                <img src="{{ 'img/logo/shaka.png' | absolute_url }}" width="60" height="60" alt="Shaka">
                <h2 class="section-heading">Shaka</h2>
                <h3>The Token for a new way crowdfunding</h3>
            </div>
            <div class="col-md-10 offset-md-1 mt-3 text-center">
                <a href="https://app.friendsfingers.com/faucet" class="btn btn-outline btn-xl mt-4">Get Shaka Tokens</a>
            </div>
            <div class="col-md-10 offset-md-1 mt-5">
                <h4>Shaka (HAK) is an ERC20 Token based on Ethereum issued by FriendsFingers and that will give holders rights to be active part of the platform like in a Decentralized Autonomous Organization (DAO).</h4>
            </div>
        </div>
    </div>
</section>

{% include sections/token.html %}
{% include sections/cta.html %}
{% include sections/contact.html %}
