<div class="col-lg-4 col-md-6">
    <div class="card bg-secondary mb-3">
        <img class="card-img-top" src="{{ 'img/team/samuele.jpg' | absolute_url }}">
        <div class="card-header text-primary">
            Samuele Rosso
        </div>
        <div class="card-body">
            <p class="card-text">Partnership <br class="d-sm-none d-md-block">Relations</p>
        </div>
        <div class="card-footer text-muted">
            <ul class="list-inline social-links">
                <li class="list-inline-item social-linkedin">
                    <a target="_blank" href="https://www.linkedin.com/in/lillo-samuele-rosso-1b1127160/">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6">
    <div class="card bg-secondary mb-3">
        <img class="card-img-top" src="{{ 'img/team/ciccio.jpg' | absolute_url }}">
        <div class="card-header text-primary pl-0 pr-0">
            Francesco Spampinato
        </div>
        <div class="card-body">
            <p class="card-text">Communication <br class="d-sm-none d-md-block">Manager</p>
        </div>
        <div class="card-footer text-muted">
            <ul class="list-inline social-links">
                <li class="list-inline-item social-twitter">
                    <a target="_blank" href="https://twitter.com/cicciospam">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li class="list-inline-item social-linkedin">
                    <a target="_blank" href="https://www.linkedin.com/in/francesco-spampinato-4271b532/">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6">
    <div class="card bg-secondary mb-3">
        <img class="card-img-top" src="{{ 'img/team/amalia.jpg' | absolute_url }}">
        <div class="card-header text-primary">
            Amalia Mancuso
        </div>
        <div class="card-body">
            <p class="card-text">Legal <br class="d-sm-none d-md-block">Consultant</p>
        </div>
        <div class="card-footer text-muted">
            <ul class="list-inline social-links">
                <li class="list-inline-item social-linkedin">
                    <a target="_blank" href="https://www.linkedin.com/in/amalia-mancuso-608956152/">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
