<section class="cta bg-primary" id="details">
    <div class="cta-content text-center">
        <div class="container">
            <h3>Have a great project?</h3>
            <a href="{{ 'crowdsale-builder' | absolute_url }}" class="btn btn-action m-2 btn-xl">Start your Crowdsale</a>
            <h3 class="mt-5">Curious? Would you like to know more?</h3>
            <h3>Read our Whitepaper, DApp source and Smart Contracts.</h3>
            <a href="{{ 'whitepaper' | absolute_url }}" class="btn btn-action m-2 btn-xl">Whitepaper</a>
            <a target="_blank" href="https://github.com/{{ site.github_username }}/friendsfingers.github.io" class="btn btn-outline m-2 btn-xl">DApp</a>
            <a target="_blank" href="https://github.com/{{ site.github_username }}/friendsfingers-smartcontracts" class="btn btn-outline m-2 btn-xl">Smart Contracts</a>
        </div>
    </div>
    <div class="overlay"></div>
</section>