<section class="cta bg-primary" id="details">
    <div class="cta-content">
        <div class="container">
            <h2>Curious? We are coming soon!</h2>
            <h3>Stay tuned to read our Whitepaper, DApp source and Smart Contracts.</h3>
            <a href="{{ 'whitepaper' | absolute_url }}" class="btn btn-action m-2 btn-xl">Whitepaper</a>
            <a target="_blank" href="https://github.com/{{ site.github_username }}/friendsfingers.github.io" class="btn btn-outline m-2 btn-xl">DApp</a>
            <a target="_blank" href="https://github.com/{{ site.github_username }}/friendsfingers-smartcontracts" class="btn btn-outline m-2 btn-xl">Smart Contracts</a>
        </div>
    </div>
    <div class="overlay"></div>
</section>