<!--
<section class="about bg-secondary text-white" id="ico">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 mx-auto text-center">
                <i class="icon-basket-loaded"></i>
                <h2 class="section-heading">ICO</h2>
            </div>
            <div class="col-md-10 offset-md-1 mt-5">
                <h4>FriendsFingers Crowdsale and the corresponding Tokens creation process will be organized around Smart Contracts running on Ethereum Network.</h4>
                <p>All the code of both Smart Contracts and Platform DApp will be verified on Etherscan and <u>open-sourced</u> on GitHub so you can read and analize any line of the code before using it.</p>
                <h4>Our ICO will be the first Crowdsale on our own Platform.<br>
                    We want to use the same code you will use.</h4>
                <p>Furthermore, Shaka (HAK), our token, will give holders rights to be active part on platform key decisions like in a Decentralized Autonomous Organization (DAO).</p>
                <h4>If you trust us, your investors will trust you the same way.<br>
                    We want to give you the better solution to make your crowdfund trustworthy and disruptive.</h4>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="section-heading mt-5 col-md-10 offset-md-1">
                <h2 class="section-heading">Use of funds</h2>
            </div>
            <div class="col-md-10 offset-md-1">
                <div class="progress text-center" style="height: 70px;">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Product Development<br>50%</div>
                    <div class="progress-bar bg-success" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">Marketing<br>20%</div>
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">Legal<br>10%</div>
                    <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">Management<br>20%</div>
                </div>
            </div>
        </div>
    </div>
</section>-->
