<section class="about bg-primary text-center" id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <i class="icon-rocket"></i>
                <h2 class="section-heading">Have a great project?</h2>
                <h4>Do you already have ideas that you want to develop on Ethereum or simply do you want to raise funds for your project?</h4>
                <h5>With FriendsFingers you will be able to create your Ethereum based Crowdsale without coding.</h5>
                <h5>Setup your Crowdsale start and end time, target and goal. Choose your Token name, symbol and rate.</h5>
                <h5><b>No payments required.</b> We will take a max of 5% fee only on success campaigns.</h5>
            </div>
        </div>
    </div>
</section>