<section class="about partners bg-white text-center" id="partners">
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <i class="icon-briefcase"></i>
                <h2 class="section-heading">Partners</h2>
                <div class="row">
                    <div class="col-md-4 offset-md-2 mt-5">
                        <a href="https://www.dapp.com" target="_blank">
                            <img class="img-fluid align-middle" src="{{ 'img/partners/dapp-com.png' | absolute_url }}">
                        </a>
                    </div>
                    <div class="col-md-4 mt-5">
                        <a href="https://www.gastroadvisor.com" target="_blank">
                            <img class="img-fluid align-middle" src="{{ 'img/partners/gastro-advisor.png' | absolute_url }}">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 offset-md-2 mt-5">
                        <a href="https://www.eppela.com/it/mentors/postepaycrowd" target="_blank">
                            <img class="img-fluid align-middle" src="{{ 'img/partners/postepay-crowd-black.png' | absolute_url }}">
                        </a>
                    </div>
                    <div class="col-md-2 offset-md-1 mt-5">
                        <a href="https://www.eppela.com/en" target="_blank">
                            <img class="img-fluid align-middle" src="{{ 'img/partners/eppela-black.png' | absolute_url }}">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 offset-md-2 mt-5">
                        <a href="https://www.smartercontract.co" target="_blank">
                            <img class="img-fluid align-middle" src="{{ 'img/partners/smarter-contract.png' | absolute_url }}">
                        </a>
                    </div>
                    <div class="col-md-4 mt-5">
                        <a href="http://veryfile.io" target="_blank">
                            <img class="img-fluid align-middle" src="{{ 'img/partners/veryfile.png' | absolute_url }}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
