<section class="features" id="platform">
    <div class="container">
        <div class="section-heading text-center">
            <i class="icon-diamond"></i>
            <h3>Who would send money to someone they don’t trust?</h3>
            <h4>Fund your project with a trustworthy crowdsale</h4>
            <p class="text-muted">Using FriendsFingers, you can easily deploy a Smart Contract that will hold contributor's money until any given date or goal is reached.</p>
            <p class="text-muted">Depending on the outcome, the funds will either be released to the project owners or safely returned back to the contributors.</p>
            <p class="text-muted">All of this is possible without requiring a centralized arbitrator, clearing house or having to trust anyone.</p>
            <p class="text-muted">You can even use the token you create to keep track of the distribution of rewards.</p>
            <hr>
        </div>
        <div class="row">
            <div class="col-lg-12 my-auto">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <i class="icon-settings"></i>
                                <h3>Start Crowdsale</h3>
                                <p class="text-muted">In a few step you will be able to easily setup any informations</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <i class="icon-graph"></i>
                                <h3>View Statistics</h3>
                                <p class="text-muted">Follow your progress, the raised amount, the campaign status and many other informations</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <i class="icon-trophy"></i>
                                <h3>Reach your goal</h3>
                                <p class="text-muted">Receive funds in your wallet if you reach the goal</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <i class="icon-wallet"></i>
                                <h3>Claim Refund</h3>
                                <p class="text-muted">If campaign doesn't reach the goal, contributors can easily claim their funds back</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>