<div class="col-lg-4 col-md-6">
    <div class="card bg-secondary mb-3">
        <img class="card-img-top" src="{{ 'img/team/vittorio.jpg' | absolute_url }}">
        <div class="card-header text-primary">
            Vittorio Minacori
        </div>
        <div class="card-body">
            <p class="card-text">Blockchain <br class="d-sm-none d-md-block">Developer</p>
        </div>
        <div class="card-footer text-muted">
            <ul class="list-inline social-links">
                <li class="list-inline-item social-twitter">
                    <a target="_blank" href="https://twitter.com/vittominacori">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li class="list-inline-item social-linkedin">
                    <a target="_blank" href="https://www.linkedin.com/in/vittoriominacori">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6">
    <div class="card bg-secondary mb-3">
        <img class="card-img-top" src="{{ 'img/team/claudio.jpg' | absolute_url }}">
        <div class="card-header text-primary">
            Claudio Mammana
        </div>
        <div class="card-body">
            <p class="card-text">Product <br class="d-sm-none d-md-block">Designer</p>
        </div>
        <div class="card-footer text-muted">
            <ul class="list-inline social-links">
                <li class="list-inline-item social-twitter">
                    <a target="_blank" href="https://twitter.com/claudiomammana">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li class="list-inline-item social-linkedin">
                    <a target="_blank" href="https://www.linkedin.com/in/claudiomammana">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6">
    <div class="card bg-secondary mb-3">
        <img class="card-img-top" src="{{ 'img/team/vincenzo.jpg' | absolute_url }}">
        <div class="card-header text-primary">
            Vincenzo Petrucci
        </div>
        <div class="card-body">
            <p class="card-text">Social Media <br class="d-sm-none d-md-block">Manager</p>
        </div>
        <div class="card-footer text-muted">
            <ul class="list-inline social-links">
                <li class="list-inline-item social-twitter">
                    <a target="_blank" href="https://twitter.com/vincenzo2101">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li class="list-inline-item social-linkedin">
                    <a target="_blank" href="https://www.linkedin.com/in/vincenzo-petrucci">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--
<div class="col-lg-3 col-md-6">
    <div class="card bg-secondary mb-3">
        <img class="card-img-top" src="{{ 'img/team/sebastiano.jpg' | absolute_url }}">
        <div class="card-header text-primary">
            Sebastiano Garilli
        </div>
        <div class="card-body">
            <p class="card-text">UX/UI <br class="d-sm-none d-md-block">Designer</p>
        </div>
        <div class="card-footer text-muted">
            <ul class="list-inline social-links">
                <li class="list-inline-item social-twitter">
                    <a target="_blank" href="https://twitter.com/sebygarilli">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li class="list-inline-item social-linkedin">
                    <a target="_blank" href="https://www.linkedin.com/in/sebastianogarilli">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6">
    <div class="card bg-secondary mb-3">
        <img class="card-img-top" src="{{ 'img/team/ciccio.jpg' | absolute_url }}">
        <div class="card-header text-primary pl-0 pr-0">
            Francesco Spampinato
        </div>
        <div class="card-body">
            <p class="card-text">Communication <br class="d-sm-none d-md-block">Manager</p>
        </div>
        <div class="card-footer text-muted">
            <ul class="list-inline social-links">
                <li class="list-inline-item social-twitter">
                    <a target="_blank" href="https://twitter.com/cicciospam">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li class="list-inline-item social-linkedin">
                    <a target="_blank" href="https://www.linkedin.com/in/francesco-spampinato-4271b532/">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6">
    <div class="card bg-secondary mb-3">
        <img class="card-img-top" src="{{ 'img/team/fatima.jpg' | absolute_url }}">
        <div class="card-header text-primary">
            Fatima Petrucci
        </div>
        <div class="card-body">
            <p class="card-text">Social <br class="d-sm-none d-md-block">Marketing</p>
        </div>
        <div class="card-footer text-muted">
            <ul class="list-inline social-links">
                <li class="list-inline-item social-linkedin">
                    <a target="_blank" href="https://www.linkedin.com/in/maria-fatima-petrucci/">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6">
    <div class="card bg-secondary mb-3">
        <img class="card-img-top" src="{{ 'img/team/amalia.jpg' | absolute_url }}">
        <div class="card-header text-primary">
            Amalia Mancuso
        </div>
        <div class="card-body">
            <p class="card-text">Legal <br class="d-sm-none d-md-block">Consultant</p>
        </div>
        <div class="card-footer text-muted">
            <ul class="list-inline social-links">
                <li class="list-inline-item social-linkedin">
                    <a target="_blank" href="https://www.linkedin.com/in/amalia-mancuso-608956152/">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
-->
