<ul class="list-group">
    <li class="list-group-item list-group-item-warning"><b>Name:</b> Shaka</li>
    <li class="list-group-item list-group-item-warning"><b>Symbol:</b> HAK</li>
    <li class="list-group-item list-group-item-warning"><b>Type:</b> ERC20</li>
    <li class="list-group-item list-group-item-warning"><b>Estimated Price:</b> 2400 HAK / 1 ETH</li>
    <li class="list-group-item list-group-item-warning">
        <b>Price during ICO:</b>
        <ul>
            <li>Round 1: 4800 HAK / 1 ETH (+100% bonus)</li>
            <li>Round 2: 3600 HAK / 1 ETH (+50% bonus)</li>
            <li>Round 3: 2400 HAK / 1 ETH</li>
        </ul>
    </li>
    <li class="list-group-item list-group-item-warning"><b>Maximum Supply:</b> 160,000,000 HAK</li>
    <li class="list-group-item list-group-item-warning">
        <b>Crowdsale dates (GMT+01:00):</b>
        <ul>
            <li>Round 1:<br>24 FEB 2018 12:00 - 24 MAR 2018 11:59</li>
            <li>Round 2: TBD</li>
            <li>Round 3: TBD</li>
        </ul>
    </li>
    <li class="list-group-item list-group-item-warning"><b>Accepted Currencies:</b> Ethereum (ETH)</li>
    <li class="list-group-item list-group-item-warning"><b>Maximum Cap (Round 1):</b> 2000 ETH</li>
</ul>