<section class="token bg-primary" id="token">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 mx-auto text-center mb-5">
                <h2 class="section-heading">Our Token</h2>
            </div>
        </div>
        <div class="row mb-5">
            <div class="section-heading col-md-5 offset-md-1">
                <h2 class="section-heading">Shaka (HAK)</h2>
                <p>We are issuing an ERC20 Token that will give holders following rights:</p>
                <ul class="mt-4">
                    <li>Right to vote on platform key decisions</li>
                    <li>Right to have a discount on platform fee when start a Crowdsale</li>
                    <li>Right to rate Crowdsales started on FriendsFingers</li>
                    <li>Possibility to promote Crowdsale on FriendsFingers social and media channels</li>
                </ul>
                <p>We may always add rights for token holders, in that case we will communicate them on our official channels.</p>
                <p>Shaka Tokens will be exclusively created in a 3 rounds Crowdsale and will be sent instantly to contributors' wallet. Tokens will be transferable immediately after the Crowdsale end.</p>
            </div>
            <div class="col-md-5">
                {% include sections/token-table.html %}
            </div>
        </div>

        <hr>

        <div class="row mt-5 mb-5">
            <div class="col-md-5 offset-md-1">
                <h3>Bounty Program</h3>
                <p>We will also start a simple Bounty Program for users who want to support us growing our platform development.</p>
                <a class="btn btn-secondary btn-xl mt-2" href="{{ 'bounty-program' | absolute_url }}">Get free Shaka</a>
            </div>
            <div class="col-md-5">
                <h3>Incentive Program</h3>
                <p>To incentivize people to use FriendsFingers platform we will give owners of successful Crowdsales a rewards of HAK until the Incentive program reserved tokens ends.</p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="section-heading mt-5 col-md-10 offset-md-1">
                <h2 class="section-heading">Token distribution</h2>
            </div>
            <div class="col-md-10 offset-md-1">
                <div class="progress text-center" style="height: 70px;">
                    <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">ICO<br>30%</div>
                    <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">Platform<br>30%</div>
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">Incentive and Bounty<br>10%</div>
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">Team<br>20%</div>
                    <div class="progress-bar bg-info" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">Advisor<br>10%</div>
                </div>
            </div>
        </div>
    </div>
</section>