<ul class="list-group">
    <li class="list-group-item list-group-item-warning"><b>Name:</b> Shaka</li>
    <li class="list-group-item list-group-item-warning"><b>Symbol:</b> HAK</li>
    <li class="list-group-item list-group-item-warning"><b>Type:</b> ERC20</li>
    <!--<li class="list-group-item list-group-item-warning"><b>Estimated Price:</b> 2400 HAK / 1 ETH</li>-->
    <!--<li class="list-group-item list-group-item-warning">
        <b>Price during ICO:</b>
        <ul>
            <li>PreSale: 3600 HAK / 1 ETH (+50% bonus)</li>
            <li>ICO: 2400 HAK / 1 ETH</li>
        </ul>
    </li>-->
    <li class="list-group-item list-group-item-warning"><b>Maximum Supply:</b> 200,000,000 HAK</li>
    <li class="list-group-item list-group-item-warning"><b>Initial Supply:</b> 140,000,000 HAK</li>
    <!--<li class="list-group-item list-group-item-warning">
        <b>Crowdsale dates (GMT+01:00):</b>
        <ul>
            <li>PreSale: Q3 2018</li>
            <li>ICO: Q4 2018</li>
        </ul>
    </li>-->
    <!--<li class="list-group-item list-group-item-warning"><b>Accepted Currencies:</b> Ethereum (ETH)</li>-->
</ul>
