<footer>
    <div class="container">
        {% include sections/social-list.html %}

        <ul class="list-inline mt-2">
            <li class="list-inline-item">
                <small>&copy 2018 {{ site.name }}</small>
            </li>
            <li class="list-inline-item">
                <a href="{{ 'privacy' | absolute_url }}">Privacy</a>
            </li>
            <li class="list-inline-item">
                <a href="{{ 'terms' | absolute_url }}">Terms</a>
            </li>
            <li class="list-inline-item">
                <a href="#">FAQ</a>
            </li>
        </ul>
    </div>
</footer>