<form class="mailchimp form-inline" action="https://friendsfingers.us17.list-manage.com/subscribe/post?u=4dc19b4f2c2bf8c7ff4fad55b&amp;id=4dc551aa96" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_4dc19b4f2c2bf8c7ff4fad55b_4dc551aa96" tabindex="-1" value=""></div>
    <div class="input-group w-100">
        <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Insert your email" required>
        <div class="input-group-append">
            <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-secondary btn-xl">Get updates</button>
        </div>
    </div>
</form>
