<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top filled-background" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{{ '/' | absolute_url }}">
            <img src="{{ 'img/logo/friendsfingers.png' | absolute_url }}" width="30" height="30" class="d-inline-block align-top" alt="{{ site.name }}">
            {{ site.name }}
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ '#intro' | absolute_url }}">Intro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ '#platform' | absolute_url }}">Platform</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ '#ico' | absolute_url }}">ICO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ '#token' | absolute_url }}">Token</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ '#roadmap' | absolute_url }}">Roadmap</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ '#team' | absolute_url }}">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ '#contact' | absolute_url }}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bg-tertiary text-white d-block evidence mr-lg-1" href="{{ 'whitepaper' | absolute_url }}">Get Shaka</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bg-primary d-block evidence" href="{{ 'whitepaper' | absolute_url }}">Whitepaper</a>
                </li>
            </ul>
        </div>
    </div>
</nav>