<script>
    var page = "{{ page.permalink }}";
    var abiPath = "{{ 'abi/' | absolute_url }}";
    var FriendsFingersTokenSaleAddress = "{{ site.token_sale_address }}";

    var web3Provider = "{{ site.web3_provider }}";
    var etherscanLink = "{{ site.etherscan_link }}";
    var networkId = "{{ site.network_id }}";
    var networkName = "{{ site.network_name }}";
    var FriendsFingersBuilderAddress = "{{ site.crowdsale_builder_address }}";
</script>

<script>
    var DEMO_web3Provider = "{{ site.demo_web3_provider }}";
    var DEMO_etherscanLink = "{{ site.demo_etherscan_link }}";
    var DEMO_networkId = "{{ site.demo_network_id }}";
    var DEMO_networkName = "{{ site.demo_network_name }}";
    var DEMO_FriendsFingersBuilderAddress = "{{ site.demo_crowdsale_builder_address }}";
</script>

<!-- Bootstrap core JavaScript -->
<script src="{{ 'vendor/jquery/jquery.min.js' | absolute_url }}"></script>
<script src="{{ 'vendor/bootstrap/js/bootstrap.bundle.min.js' | absolute_url }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ 'vendor/jquery-easing/jquery.easing.min.js' | absolute_url }}"></script>

<!-- ETH utilities -->
<script src="{{ 'vendor/web3/web3.min.js' | absolute_url }}"></script>
<script src="{{ 'vendor/truffle-contract/truffle-contract.js' | absolute_url }}"></script>

<!-- Vue.js -->
<script src="{{ 'vendor/vue/vue.min.js' | absolute_url }}"></script>
<script src="{{ 'vendor/vee-validate/vee-validate.min.js' | absolute_url }}"></script>

<!-- Custom scripts -->
<script src="{{ 'js/friends-fingers.min.js' | absolute_url }}"></script>
<script src="{{ 'js/app.js' | absolute_url }}"></script>

<!-- Cookie bar -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js?forceLang=en&tracking=1&thirdparty=1&scrolling=1&hideDetailsBtn=1&remember=30&privacyPage=https%3A%2F%2Fwww.friendsfingers.com%2Fprivacy"></script>

<!-- Start of Async Drift Code -->
<script>
    !function() {
        var t;
        if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
            t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
            t.factory = function(e) {
                return function() {
                    var n;
                    return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
                };
            }, t.methods.forEach(function(e) {
            t[e] = t.factory(e);
        }), t.load = function(t) {
            var e, n, o, i;
            e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
                o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
                n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
        });
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('{{ site.drift_widget }}');
</script>
<!-- End of Async Drift Code -->