<div id="crowdsale-details" class="content">
    <div class="crowdsale-box card">
        <div class="card-body text-center">
            <img src="{{ 'img/loader.gif' | absolute_url }}">
        </div>
    </div>

    <div class="crowdsale-box d-none">
        <div class="row">
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-header">Project Details</div>
                    <div class="card-body">
                        <div class="media">
                            <img class="align-self-start mr-3" :src="crowdsale.projectInfo.logo" :alt="crowdsale.projectInfo.title" style="max-width: 60px;">
                            <div class="media-body">
                                <h5 class="mt-0" v-html="crowdsale.projectInfo.title"></h5>
                                <p v-html="crowdsale.projectInfo.about"></p>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <h6 v-html="crowdsale.projectInfo.description"></h6>
                        </div>
                        <div class="col-xs-12">
                            <a :href="crowdsale.projectInfo.url" target="_blank" class="mr-3">Website</a>
                            <a :href="crowdsale.projectInfo.whitepaper" target="_blank" class="mr-3">Whitepaper</a>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="social-links">
                            <a :href="'mailto:' + crowdsale.projectInfo.email" v-if="crowdsale.projectInfo.email" title="Email" target="_blank"><i class="fa fa-envelope"></i></a>
                            <a :href="crowdsale.projectInfo.facebook" v-if="crowdsale.projectInfo.facebook" title="Facebook" target="_blank"><i class="fa fa-facebook-official"></i></a>
                            <a :href="crowdsale.projectInfo.twitter" v-if="crowdsale.projectInfo.twitter" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a :href="crowdsale.projectInfo.instagram" v-if="crowdsale.projectInfo.instagram" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a :href="crowdsale.projectInfo.telegram" v-if="crowdsale.projectInfo.telegram" title="Telegram" target="_blank"><i class="fa fa-telegram"></i></a>
                            <a :href="crowdsale.projectInfo.medium" v-if="crowdsale.projectInfo.medium" title="Medium" target="_blank"><i class="fa fa-medium"></i></a>
                            <a :href="crowdsale.projectInfo.bitcointalk" v-if="crowdsale.projectInfo.bitcointalk" title="BitcoinTalk" target="_blank"><i class="fa fa-btc"></i></a>
                            <a :href="crowdsale.projectInfo.reddit" v-if="crowdsale.projectInfo.reddit" title="Reddit" target="_blank"><i class="fa fa-reddit"></i></a>
                            <a :href="crowdsale.projectInfo.slack" v-if="crowdsale.projectInfo.slack" title="Slack" target="_blank"><i class="fa fa-slack"></i></a>
                            <a :href="crowdsale.projectInfo.github" v-if="crowdsale.projectInfo.github" title="GitHub" target="_blank"><i class="fa fa-github"></i></a>
                            <a :href="crowdsale.projectInfo.youtube" v-if="crowdsale.projectInfo.youtube" title="YouTube" target="_blank"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-primary mb-3">
                    <div class="card-header">Token Details</div>
                    <div class="card-body">
                        <h5>Name: <span v-html="token.name"></span></h5>
                        <h5>Symbol: <span v-html="token.symbol"></span></h5>
                        <h5>Decimals: <span v-html="token.decimals"></span></h5>
                        <h6>Crowdsale Supply: <span v-html="token.crowdsaleSupply.toLocaleString()"></span></h6>

                        <div class="row mt-3" v-if="!crowdsale.paused && crowdsale.hasStarted && !crowdsale.hasEnded">
                            <div class="col-12">
                                <a class="btn btn-tertiary btn-xl btn-block" href="#investment-box">Invest</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="card-header">Crowdsale Details</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm text-sm-left">
                                <h5>Start time</h5>
                                <h3 v-html="crowdsale.startTimeFormatted"></h3>
                            </div>
                            <div class="col-sm text-sm-right">
                                <h5>End time</h5>
                                <h3 v-html="crowdsale.endTimeFormatted"></h3>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <!--<div class="col-sm text-md-left">-->
                                <!--<h5>Goal</h5>-->
                                <!--<h3><span v-html="crowdsale.goal"></span> ETH</h3>-->
                            <!--</div>-->
                            <div class="col-sm-12 text-center">
                                <h5>Raised</h5>
                                <h3><span v-html="crowdsale.weiRaised.toLocaleString()"></span>/<span v-html="crowdsale.cap.toLocaleString()"></span> ETH</h3>
                            </div>

                            <div class="col-sm-8 offset-sm-2 mt-2">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" v-bind:aria-valuenow="crowdsale.weiRaised" aria-valuemin="0" v-bind:aria-valuemax="crowdsale.cap" v-bind:style="'width:' + (crowdsale.weiRaised * 100 / crowdsale.cap) + '%'"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm text-sm-left">
                                <h5>Sold <span v-html="token.name"></span></h5>
                                <h3><span v-html="crowdsale.soldTokens.toLocaleString()"></span> <span v-html="token.symbol"></span></h3>
                            </div>
                            <div class="col-sm text-sm-right">
                                <h5>Exchange Rate</h5>
                                <h3><span v-html="crowdsale.rate"></span> <span v-html="token.symbol"></span>/ETH</h3>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row" id="investment-box" v-if="!crowdsale.paused && crowdsale.hasStarted && !crowdsale.hasEnded">
            <div class="col-md-12">
                <div class="card bg-secondary text-white mb-3">
                    <div class="card-header">Token purchase agreement</div>
                    <div class="card-body">
                        <div class="alert alert-primary mb-3" role="alert">
                            <p>Before invest please read the terms of use and confirm the facts in the checkboxes below in order to proceed.</p>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input"
                                       v-validate="'required'"
                                       :class="{'is-invalid': errors.has('usAgreement')}"
                                       :disabled="usAgreement && countryAgreement && globalAgreement"
                                       value="1"
                                       v-model="usAgreement"
                                       id="usAgreement"
                                       name="usAgreement">
                                <label class="form-check-label" for="usAgreement">
                                    Confirm that you are NOT a U.S. citizen, resident or entity (each a "U.S. Person") nor are you purchasing Tokens or signing on behalf of a U.S. Person.
                                </label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input"
                                       v-validate="'required'"
                                       :class="{'is-invalid': errors.has('countryAgreement')}"
                                       :disabled="usAgreement && countryAgreement && globalAgreement"
                                       value="1"
                                       v-model="countryAgreement"
                                       id="countryAgreement"
                                       name="countryAgreement">
                                <label class="form-check-label" for="countryAgreement">
                                    Confirm that you are legitimate to enter this ICO and you are compliant with active regulation in your country of residence.
                                </label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input"
                                       v-validate="'required'"
                                       :class="{'is-invalid': errors.has('globalAgreement')}"
                                       :disabled="usAgreement && countryAgreement && globalAgreement"
                                       value="1"
                                       v-model="globalAgreement"
                                       id="globalAgreement"
                                       name="globalAgreement">
                                <label class="form-check-label" for="globalAgreement">
                                    Confirm that you have read, understood and agreed the FriendsFingers <a href="{{ 'terms' | absolute_url }}" target="_blank"><u>Terms of Use</u> <i class="fa fa-external-link"></i></a> and you have also read, understood and agreed the Crowdsale's Terms and Conditions expressed in its Whitepaper and Official link above.
                                </label>
                            </div>
                        </div>
                        <div class="alert alert-warning" role="alert">
                            <small>Do not send ETH from exchange like Coinbase, Bitfinex, GDAX or similar. They don’t give you any access to your wallet so sending ETH from one of these means for you losing your rewards tokens and we won’t be able to help you to recover them.</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12" v-if="makingTransaction">
                <div class="alert alert-success mb-3" role="alert">
                    <div>Making transaction. Do not refresh the page. Please wait...</div>
                    <div v-if="txHash !== ''">
                        <b>Well! Transaction done!</b><br>
                        Transaction id <a :href="'{{ site.etherscan_link }}/tx/' + txHash" target="_blank"><span v-html="txHash"></span> <i class="fa fa-external-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-3">
                    <div class="card-header">Invest using MetaMask</div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">ETH</span>
                                </div>
                                <input type="number" class="form-control"
                                       :disabled="!(usAgreement && countryAgreement && globalAgreement)"
                                       v-validate="'required|decimal'"
                                       :class="{'is-invalid': errors.has('fund')}"
                                       v-model="funds"
                                       min="0"
                                       id="fund"
                                       name="fund"
                                       placeholder="Your fund value in Ether">
                            </div>
                            <small class="form-text text-muted">
                                Select the amount you want to enter in crowdsale</small>
                            <p>You will receive <span v-html="funds * crowdsale.rate"></span> <span v-html="token.symbol"></span></p>
                        </div>
                        <button type="button"
                                class="btn btn-success btn-xl btn-block"
                                :disabled="!(usAgreement && countryAgreement && globalAgreement)"
                                v-on:click="fundCrowdsale">
                            Invest
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card mb-3">
                            <div class="card-header">Invest using your preferred wallet</div>
                            <div class="card-body">
                                <p>Send the amount of ETH you want to invest to the Crowdsale address below.</p>

                                <div class="input-group">
                                    <input type="text" class="form-control"
                                           readonly="readonly"
                                           :value="(usAgreement && countryAgreement && globalAgreement) ? crowdsale.address : '****************************************'"
                                           id="crowdsale-address">
                                    <div class="input-group-append">
                                        <button class="btn btn-xl"
                                                v-on:click="copyAddress"
                                                :class="copied ? 'btn-success' : 'btn-secondary'"
                                                :disabled="!(usAgreement && countryAgreement && globalAgreement)"
                                                type="button"><span v-html="copied ? 'Copied' : 'Copy'"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card mb-3">
                            <div class="card-header">Invest using QR Code</div>
                            <div class="card-body">
                                <p>Send the amount of ETH you want to invest to the Crowdsale address using QR Code.<p>

                                <button type="button"
                                        class="btn btn-success btn-xl btn-block mt-3"
                                        v-on:click="viewQRCode"
                                        :disabled="!(usAgreement && countryAgreement && globalAgreement)"
                                        v-if="!qrcodeVisible">
                                    View QR Code</button>

                                <div class="row mt-3">
                                    <div class="col-8 offset-2">
                                        <div id="crowdsale-qrcode"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ 'vendor/qrcodejs/qrcode.min.js' | absolute_url }}"></script>