.body {
  font-family: Catamaran,Helvetica,Arial,sans-serif;
  letter-spacing: 1px;

  .masthead {
    text-align: center;
    &.main {
      padding: 9em 0.5em 4em 0.5em;
    }

    &.yellow {
      background: $yellow-color;
      background-image: linear-gradient(to right, $yellow-color, $yellow-color-dark);
      color: $blue-color-darker;
      padding: 4em 0.5em 4em 0.5em;
    }

    &.purple {
      background: $primary-color;
      background-image: linear-gradient(to right, $primary-color, $primary-color-dark);
      color: #ffffff;
      padding: 4em 0.5em 4em 0.5em;
    }

    &.white {
      background: #ffffff;
      padding: 4em 0.5em 4em 0.5em;
    }
  }

  .purple {
    color: $primary-color;
  }

  .bg-purple {
    color: white;
    background: $primary-color;
    background-image: linear-gradient(to right, $primary-color, $primary-color-dark);
  }

  .btn-primary {
    background: $primary-color;
    background-image: linear-gradient(to right, $primary-color, $primary-color-dark);
    border-color: $primary-color;
  }

  .btn-action {
    color: $blue-color-darker;
    background: $yellow-color;
    background-image: linear-gradient(to right, $yellow-color, $yellow-color-dark);
    border-color: $yellow-color;
  }

  .btn-outline-primary {
    color: $primary-color;
    border-color: $primary-color;

    &:hover {
      color: #fff;
      background-color: $primary-color;
      background-image: linear-gradient(to right, $primary-color, $primary-color-dark);
    }
  }

  .badge-info {
    background: $primary-color;
  }

  .social-links {
    a {
      color: $primary-color;
      font-size: 1.6em;
      margin: 0.2em;
    }

    &.inverse {
      a {
        color: $yellow-color;
      }
    }
  }

  .h-100 {
    height: 100%!important;
  }
}
