$purple: #b733a7;

$primary-color: #FD7272;
$primary-color-dark: #FC427B;

$yellow-color: #fae596;
$yellow-color-dark: #f9df7e;

$blue-color: #05acf3;
$blue-color-dark: #0377a8;
$blue-color-darker: #123456;

$theme-primary: $yellow-color;
$theme-secondary: $blue-color;
$theme-tertiary: $primary-color-dark;
$theme-blue: $blue-color-darker;